<h1>Payment</h1>
<div class="flex__column">
  <div class="side__container">
    <div class="column__container">
      <div class="filter__container">
        <div>Month</div>
        <autocomplete
          placeholder="month"
          [value]="filter.month"
          [options]="months"
          [sortOption]="false"
          (onChange)="onChange('filterMonth', $event)"
        ></autocomplete>
        <div>Year</div>
        <autocomplete
          placeholder="year"
          [value]="filter.year"
          [options]="years"
          [sortOption]="false"
          (onChange)="onChange('filterYear', $event)"
        ></autocomplete>
        <div>Payment status</div>
        <autocomplete
          placeholder="Payment status"
          [value]="filter.status"
          [options]="status"
          [sortOption]="false"
          (onChange)="onChange('filterStatus', $event)"
        ></autocomplete>
        <div>Type of usage</div>
        <autocomplete
          placeholder="Type of usage"
          [value]="filter.companyTypeOfUsage"
          [options]="companyTypeOfUsages"
          [sortOption]="false"
          (onChange)="onChange('filterCompanyTypeOfUsage', $event)"
        ></autocomplete>
      </div>
      <div class="filter__container">
        <button
          [style.backgroundColor]="colors.greenPrimary"
          (click)="getDataTable(1)"
        >
          Search</button
        ><button [style.backgroundColor]="colors.bluePrimary">
          Export invoice
        </button>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>Profile image</th>
          <th>First name</th>
          <th>Family name</th>
          <th>Company</th>
          <th>Telephone no.</th>
          <th>Tier</th>
          <th>Commission</th>
          <th>Bank Account</th>
          <th>Payment status</th>
        </tr>
      </thead>
      <tbody *ngIf="dataTable.length > 0">
        <tr *ngFor="let item of dataTable; let i = index" class="tr__option">
          <td class="td__center">{{ i + 1 }}</td>
          <td class="td__center">
            <img
              *ngIf="item.ProfilePath"
              class="td__img"
              src="{{ item.ProfilePath }}"
            />
          </td>
          <td class="td__center">{{ item.FirstName }}</td>
          <td class="td__center">{{ item.LastName }}</td>
          <td class="td__center">
            <div [style.display]="'flex'" [style.flexDirection]="'column'">
              <div [style.padding]="'0.2rem 0 0.2rem 0'">
                {{ item.CompanyName }}
              </div>
              <div [style.padding]="'0.2rem 0 0.2rem 0'">
                {{ format("bank", item.CompanyTaxId) }}
              </div>
            </div>
          </td>
          <td class="td__center">{{ format("phone", item.PhoneNumber) }}</td>
          <td class="td__center">{{ item.Tier }}</td>
          <td class="td__center">{{ item.Commission | number : "1.2-2" }}</td>
          <td class="td__center">
            <div [style.display]="'flex'" [style.flexDirection]="'column'">
              <div [style.padding]="'0.2rem 0 0.2rem 0'">
                {{ item.BankAccount }}
              </div>
              <div [style.padding]="'0.2rem 0 0.2rem 0'">
                {{ format("bank", item.BankAccountNumber) }}
              </div>
            </div>
          </td>
          <td
            *ngIf="item.PaymentStatus === 'Y'; else notCompletedEl"
            class="td__center"
            [style.color]="colors.greenPrimary"
          >
            Completed
          </td>
          <ng-template #notCompletedEl
            ><td class="td__center">
              <div [style.display]="'flex'" [style.flexDirection]="'column'">
                <button
                  [disabled]="!item.Payment"
                  [style.backgroundColor]="
                    item.Payment ? colors.greenPrimary : colors.grayPrimary
                  "
                  [style.cursor]="item.Payment ? 'pointer' : 'default'"
                  [style.margin]="'0.2rem 0 0.2rem 0'"
                  (click)="openPopup(item)"
                >
                  Pay</button
                ><button
                  [disabled]="!item.Payment"
                  [style.backgroundColor]="
                    item.Payment ? colors.bluePrimary : colors.grayPrimary
                  "
                  [style.cursor]="item.Payment ? 'pointer' : 'default'"
                  [style.margin]="'0.2rem 0 0.2rem 0'"
                  (click)="(false)"
                >
                  Export invoice
                </button>
              </div>
            </td></ng-template
          >
        </tr>
      </tbody>
    </table>
    <div class="table__pagination">
      <img
        class="img__icon"
        src="../../assets/images/angle-left.png"
        [width]="20"
        (click)="previousPage()"
      />
      <div
        *ngIf="currentIndex > 3"
        class="page__index"
        (click)="getDataTable(1)"
      >
        {{ 1 }}
      </div>
      <div *ngIf="currentIndex > 3" class="page__skip">. . .</div>
      <div *ngIf="currentIndex"></div>
      <div *ngFor="let item of indexTable">
        <div
          *ngIf="currentIndex === item; else pageOption"
          class="page__index"
          [style.color]="colors.greenPrimary"
          [style.cursor]="'default'"
          (click)="getDataTable(item)"
        >
          {{ item }}
        </div>
        <ng-template #pageOption>
          <div
            *ngIf="
              (item >= currentIndex - 2 && item < currentIndex) ||
              (item <= currentIndex + 2 && item > currentIndex)
            "
            class="page__index"
            (click)="getDataTable(item)"
          >
            {{ item }}
          </div>
        </ng-template>
      </div>
      <div *ngIf="currentIndex < indexTable.length - 2" class="page__skip">
        . . .
      </div>
      <div
        *ngIf="currentIndex < indexTable.length - 2"
        class="page__index"
        (click)="getDataTable(indexTable[indexTable.length - 1])"
      >
        {{ indexTable[indexTable.length - 1] }}
      </div>
      <img
        class="img__icon"
        src="../../assets/images/angle-right.png"
        [width]="20"
        (click)="nextPage()"
      />
    </div>
  </div>
</div>
<popup [openPopup]="showPopup" (closePopup)="closePopup()">
  <div class="popup__container">
    <div [style.marginBottom]="'1.5rem'">
      Are you sure you want to pay this commission?
    </div>
    <div
      [style.display]="'flex'"
      [style.flexDirection]="'row'"
      [style.justifyContent]="'start'"
    >
      <div
        [style.padding]="'0 1rem 0 2rem'"
        [style.marginRight]="'1rem'"
        [style.borderRight]="'1px ' + colors.grayPrimary + ' solid'"
      >
        <img
          *ngIf="paymentSelected?.ProfilePath"
          class="td__img"
          src="{{ paymentSelected?.ProfilePath }}"
          width="100"
          height="100"
        />
      </div>
      <div
        [style.display]="'flex'"
        [style.flexDirection]="'column'"
        [style.justifyContent]="'space-around'"
      >
        <div [style.marginBottom]="'0.5rem'">
          {{ paymentSelected?.FirstName }} {{ paymentSelected?.LastName }}
        </div>
        <div [style.marginBottom]="'0.5rem'">
          {{ filter.month }} {{ filter.year }}
        </div>
        <div>
          Commission : {{ paymentSelected?.Commission | number : "1.2-2" }} Baht
        </div>
      </div>
    </div>
  </div>
  <div class="flex__row__end">
    <button
      [style.backgroundColor]="colors.greenPrimary"
      (click)="payment(paymentSelected?.Id)"
    >
      Yes
    </button>
    <button
      [style.backgroundColor]="colors.grayPrimary"
      [style.color]="'black'"
      (click)="closePopup()"
    >
      Cancel
    </button>
  </div>
</popup>
