<div *ngIf="!single; else singleDateEl" class="input__container">
  <div [style.display]="'flex'" [style.flexDirection]="'row'">
    <input
      type="text"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [value]="value ?? ''"
      [style.minWidth]="'200px'"
      (input)="inputOnChange(null)"
      (click)="picker.open()"
    />
    <!-- <img
      *ngIf="value"
      class="popup__close"
      src="../../assets/images/xmark.png"
      [height]="15"
      [style.marginLeft]="'5px'"
      (click)="inputOnChange(null)"
    /> -->
  </div>
  <mat-date-range-input [rangePicker]="picker">
    <input
      matStartDate
      matInput
      (dateChange)="onChangeDate('from', $event)"
      [style.display]="'none'"
    />
    <input
      matEndDate
      matInput
      (dateChange)="onChangeDate('to', $event)"
      [style.display]="'none'"
    />
  </mat-date-range-input>
  <mat-date-range-picker #picker></mat-date-range-picker>
</div>
<ng-template #singleDateEl
  ><div class="input__container">
    <div [style.display]="'flex'" [style.flexDirection]="'row'">
      <input
        matInput
        [matDatepicker]="picker"
        [formControl]="dateControl"
        [style.width]="'0px'"
        [style.padding]="'0px'"
        (dateChange)="onChangeDate('from', $event)"
      /><input
        type="text"
        [placeholder]="placeholder"
        [disabled]="disabled"
        [value]="value ?? ''"
        [style.minWidth]="'200px'"
        (click)="onClick(); picker.open()"
      />
    </div>
    <mat-datepicker #picker></mat-datepicker></div
></ng-template>
